.html{
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
:root{
  --color-grey: rgb(71, 70, 70);
  --color-base: rgb(243,168,60);
  --color-secondary: rgb(251,234,171);
  --color-lgrey: #656565;
}



