.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.icon{
    width: 100%;
    height: 100%;
    color: var(--color-secondary);
    opacity: 0.9;
}
.icon__container{
    aspect-ratio: 1/1;
    width: 3.5rem;
    height: unset;
}
.header, .text{
}
.header{
    font-weight: 800;
    color: #aaaaaa;
    margin: 1.5rem 0 0.5rem;
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Tilt Prism', Helvetica, sans-serif;
}
.text{
    color: var(--color-base);
    line-height: 1.2rem;
    font-size: 1.2rem;
    opacity: 0.8;
    margin: 0.9rem 0 0;
    font-weight: 350;
    letter-spacing: 0.1rem;
    text-align: left;
    list-style:circle;
    width: 70%;
}
@media screen and (max-width:1200px){
    .text{
        width: 80%;
        letter-spacing: 0.05rem;
        font-size: 1.1rem;
        line-height: unset;
    }
    .header{
        font-size: 2.5rem;
        margin: 1.5rem 0 0.5rem;
    }
}
@media screen and (max-width:1024px){
    .text{
        font-size: 1.2rem;
        line-height: unset;
        font-weight: 350;
        line-height: 1.3rem;
    }
    .header{
        margin: 2rem 0 1rem;
        width: 100%;
    }
    .icon__container{
        width: 3.2rem;
        margin: 1rem 0 0;
    }
}
@media screen and (max-width:769px){
    .text{
        font-size: 1.15rem;
        line-height: 1.25rem;
        width: 100%;
        text-align: center;
    }
    .header{
        margin: 2rem 0 0.5rem;
    }
    .icon{
        margin: 1rem 0 0;
        width: 4rem;
    }
}
@media screen and (max-width:480px){
    .text{
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: 400;
        margin: 0.2rem;
    }
    .header{
        font-size: 2rem;
        margin: 1rem 0 0.5rem;
    }
    .icon{
       margin: 0;
       width: 3rem;
    }
}